table {
    width: 100%;
}

.inputsTable {
    width: 100px;
    margin-left: 10%;
}

.borderTable {
    border: 1px solid gray;
}

.borderTh {
    border: 1px solid gray;
    text-align: center;
}

* {
    box-sizing: border-box;
}


/* Button used to open the chat form - fixed at the bottom of the page */

.circle-link {
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}


/* The popup chat - hidden by default */

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width textarea */

.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}


/* When the textarea gets focus, do something */

.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}


/* Set a style for the submit/send button */

.form-container .btn {
    background-color: #04aa6d;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* Add a red background color to the cancel button */

.form-container .cancel {
    background-color: red;
}


/* Add some hover effects to buttons */

.form-container .btn:hover,
.circle-link:hover {
    opacity: 1;
}

body {
    background-color: #42a5f5;
}

.row {
    margin: 0 auto;
    width: 280px;
    clear: both;
    text-align: center;
    font-family: "Exo";
}

.digit,
.dig {
    float: left;
    padding: 10px 30px;
    width: 30px;
    font-size: 2rem;
    cursor: pointer;
}

.sub {
    font-size: 0.8rem;
    color: grey;
}

.container {
    background-color: white;
    width: 320px;
    padding: 20px;
    margin: 30px auto;
    height: 420px;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#output {
    font-family: "Exo";
    font-size: 2rem;
    height: 60px;
    font-weight: bold;
    color: #1976d2;
}

#call {
    display: inline-block;
    background-color: #66bb6a;
    padding: 4px 30px;
    margin: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.botrow {
    margin: 0 auto;
    width: 280px;
    clear: both;
    text-align: center;
    font-family: "Exo";
}

.digit:active,
.dig:active {
    background-color: #e6e6e6;
}

#call:hover {
    background-color: #81c784;
}

.dig {
    float: left;
    padding: 10px 20px;
    margin: 10px;
    width: 30px;
    cursor: pointer;
}