<router-outlet>

    <body id="login-form">
        <h2>CallCont</h2><br>
        <div class="login">
            <form id="login">
                <label><b>Número de extensión     
        </b>    
        </label>
                <input type="text" name="log" id="User" placeholder="Número de extensión">
                <br><br>
                <label><b>Contraseña     
        </b>    
        </label>
                <input type="Password" name="log" id="Pass" placeholder="Contraseña">
                <br><br>
                <input type="button" name="log" id="login" (click)="LogIn('principal')" value="LogIn">
            </form>
        </div>
    </body>
</router-outlet>